textarea {
  min-height: 20rem;
}

#comment {
  min-height: 5rem;
}

select {
  appearance: none;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  background-color: var(--c-dark-grey);
}

select > option {
  padding: 0.5rem;
  background-color: var(--c-dark-grey);
}

select:focus,
input:focus,
textarea:focus {
  border-color: var(--c-white);
  outline: none;
}

input[type="button"] {
  background-color: var(--c-purple);
}

input[type="button"]:hover {
  opacity: 0.8;
}
